<div class="row">

    <div *ngIf="order" class="order">
        <div style="text-align: center; color: rgba(128, 128, 128, 0.8);">Документ</div>
        <div class="order-id">{{order.id}}</div>
        <div style="text-align: center; color: rgba(128, 128, 128, 0.8);">{{order.statusId | filterlist:statuses}}</div>
    </div>

    <div>
        <div class="row bt-block">
            <button mdbBtn type="button" class="heavy-rain-gradient" size="sm" data-placement="bottom" matTooltip="Редактировать заказ"
                [disabled]="!isCanBeEdit" 
                [hidden]="isEditMode" 
                (click)="onEditMode()">
                Редактировать
            </button>
            <button mdbBtn type="button" class="heavy-rain-gradient" size="sm" data-placement="bottom" matTooltip="Сохранить изменения в заказе"
                [hidden]="!isEditMode" 
                (click)="onOpenOrderSaveForm()">
                Сохранить
            </button>
            <button mdbBtn type="button" class="heavy-rain-gradient" size="sm" data-placement="bottom" matTooltip="Сохранить изменения в заказе"
                [hidden]="!isEditMode" 
                (click)="onCloseEditMode()">
                Отмена
            </button>
            <button mdbBtn type="button" class="heavy-rain-gradient" size="sm" data-placement="bottom" matTooltip="Закрыть заказ"
                [disabled]="isEditMode" 
                (click)="onCloseClick()">
                Закрыть
            </button>
        </div>
        <div class="row">
            <input hidden type="file" accept=".dat" onclick="this.value = null" #fileInput (change)="postFileMethod($event)"/>
            <button mdbBtn type="button" class="heavy-rain-gradient" size="sm" data-placement="bottom" matTooltip="Импорт из файла"
                (click)="fileInput.click()">
                Импорт
            </button>
            <button mdbBtn type="button" class="heavy-rain-gradient" size="sm" data-placement="bottom" matTooltip="Печать заказа"
                [disabled]="true"
                (click)="onExportExcel()">
                Печать
            </button>
        </div>
    </div>

    <div *ngIf="isSalesManager">
        <div class="row bt-block">
            <mat-form-field appearance="outline" data-placement="bottom" matTooltip="Выбор даты поставки">
                <mat-label>Дата поставки</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="deliveryDate" [disabled]="!isEditMode" >
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <button mdbBtn type="button" class="heavy-rain-gradient" size="sm" data-placement="bottom" matTooltip="Добавить дату поставки"
                [disabled]="deliveryDate ? null : true"
                (click)="onAddDateToOrder()">
                Добавить
            </button>
        </div>
        <div class="row">
            <mat-form-field appearance="outline" data-placement="bottom" matTooltip="Поле ввода поставщика">
                <mat-label>Поставщик</mat-label>
                <input matInput placeholder="Введите поставщика" [(ngModel)]="supplier" [disabled]="!isEditMode" >
            </mat-form-field>
            <button mdbBtn type="button" class="heavy-rain-gradient" size="sm" data-placement="bottom" matTooltip="Добавить поставщика"
                [disabled]="supplier ? null : true"
                (click)="onAddSupplierToOrder()">
                Добавить
            </button>
        </div>
    </div>

</div>

<app-order-body-list-form 
    class="table-container"
    [order]="order"
    [isEditMode]="isEditMode"
    [deliveryDate]="deliveryDateToOrder"
    [supplier]="supplierToOrder"
    [orderBodyItems]="orderBodyItems"
    (productDeleteEvent)="productDelete($event)"
    (orderClearEvent)="orderClear($event)">
</app-order-body-list-form>