.table-container {
    height: calc(32vh - 90px);
    overflow: auto;
}
table {
    width: 100%;
}
.select-row {
    background-image: linear-gradient(to right, rgba(161, 106, 216, 0.5), rgba(240, 10, 228, 0.5));
}
tr.mat-header-row {
    height: 26px;
    background-color: rgb(230, 230, 230);
}
tr.mat-row {
    height: 26px;
}
mat-icon#push {
    padding: 0;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    top: 4px;
}
mat-icon#push:hover {
    font-size: 18px;
    color: blueviolet;
}
input.mat-input-element {
    position: relative;
    top: -4px;
}
th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 10px;
}
:host ::ng-deep label {
    margin-bottom: 0 !important;
}
mat-form-field {
    width: 140px !important;
}
.mat-column-check {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 3% !important;
    width: 3% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
   
    word-break: break-word;
   
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}  
.mat-column-group {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 7% !important;
    width: 7% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
   
    word-break: break-word;
   
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}  
.mat-column-article {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 6% !important;
    width: 6% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
   
    word-break: break-word;
   
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.mat-column-barcode {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 7% !important;
    width: 7% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
   
    word-break: break-word;
   
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.mat-column-name {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 15% !important;
    width: 15% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
   
    word-break: break-word;
   
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.mat-column-supplier {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 9% !important;
    width: 9% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
   
    word-break: break-word;
   
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.mat-column-goods {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 5% !important;
    width: 5% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
   
    word-break: break-word;
   
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.mat-column-average {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 5% !important;
    width: 5% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
   
    word-break: break-word;
   
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.mat-column-stockDay {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 5% !important;
    width: 5% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
   
    word-break: break-word;
   
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.mat-column-deliveryDate {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 6% !important;
    width: 6% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
   
    word-break: break-word;
   
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.mat-column-managerComment {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 14% !important;
    width: 14% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
   
    word-break: break-word;
   
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.mat-column-departmentComment {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 14% !important;
    width: 14% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
   
    word-break: break-word;
   
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.mat-column-action {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 4% !important;
    width: 4% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
   
    word-break: break-word;
   
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
::-webkit-scrollbar-track {
    background-color: #F5F5F5;
    border-radius: 6px;
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
	background-color: #0ae;
	border-radius: 6px;
}
.mat-panel-overflow {
    max-height: calc(100vh - 290px);
    overflow-y: auto;
    overflow-x: hidden;
}