.contant {
    padding-top: 5px;
    margin: 0 auto;
    width: 900px;
    height: calc(100vh - 75px);
}
.search-panel {
    width: 100%;
}
.search-store {
    position: relative;
    top: -8px;
}
.search-num {
    width: 65%;
}
mat-form-field {
    width: 43%;
}
.bt-search {
    position: relative;
    top: -4.9px;
    height: 3.6em;
}
img {
    margin-left: auto;
    margin-right: auto;
    width: 406px;
}
.name {
    color: cornflowerblue;
    text-align: center;
    margin-top: 40px;
    font-size: 32px;
    line-height: 1.1;
}
.description {
    color: gray;
    text-align: center;
}
.percent {
    color: indianred;
    text-align: center;
    margin: 30px auto 30px auto;
    font-size: 50px;
}
mat-hint {
    color: rgba(128, 128, 128, 0.5);
}
mat-icon:hover {
    cursor: pointer;
}
.quantity {
    text-align: center;
    margin: 5px auto 5px auto;
    color: rgba(128, 128, 128, 0.75);
    font-size: 24px;
}
.old {
    text-align: center;
    margin: 5px auto 5px auto;
    color: rgba(128, 128, 128, 0.75);
    font-size: 24px;
}
.import-text {
    color: rgba(128, 128, 128);
    font-size: 18px;
    margin-left: 5%;
}
.info-yes {
    color: green;
    font-size: 24px;
    position: relative;
    top: -2px;
}
.info-no {
    color: red;
    font-size: 24px;
    position: relative;
    top: -2px;
}
.sidenav-content {
    display: flex;
    height: 100%; 
    align-items: center;
    justify-content: center;
}
.bt-add {
    display: flex;
    align-items: center;
    justify-content: center;
}
mat-drawer {
    width: 26%;
}
.card-item-list {
    height: 80vh;
    overflow: auto;
    margin-bottom: 5px;
}
.card-item {
    margin: 5px;
    width: 96%;
    // height: 200px;
    padding-left: 20px;
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 15px;
}
.card-item-img {
    width: 60px;
    height: 60px;
}
.card-item-name {
    width: 96%;
    min-height: 60px;
    color: cornflowerblue;
}
.card-summ {
    margin: 10px;
}
.foot {
    margin-left: auto;
    margin-right: 20px;
}
.bt-card-item-del {
    position: relative;
    top: -10px;
}
::-webkit-scrollbar-track
{
	// -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 6px;
}
::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb
{
	background-color: #0ae;
	border-radius: 6px;
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}