<div class="row">
    <div class="col-2">
        <div class="row">
            <button mdbBtn type="button" class="heavy-rain-gradient" size="sm" mdbWavesEffect data-placement="bottom" matTooltip="Новый документ" 
                (click)="onAddOrder()">
                Новый документ
            </button>
        </div>
        <div class="row">
            <button mdbBtn type="button" class="heavy-rain-gradient" size="sm" data-placement="bottom" matTooltip="Просмотр" 
                [disabled]="order ? null : true" (click)="onOpenOrder()">
                Просмотр
            </button>
        </div>
    </div>

    <div class="content">
        <div>
            <form [formGroup]="filterForm" (ngSubmit)="onSearch()">
                <div>
                    <mat-form-field appearance="outline" data-placement="bottom" matTooltip="Выбор статуса заказа">
                        <mat-label>Статус заказа</mat-label>
                        <mat-select formControlName="status">
                            <mat-option [value]="-1">Все</mat-option>
                            <mat-option *ngFor="let status of statuses" [value]="status.id">
                                {{status.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field id="long" appearance="outline" data-placement="bottom" matTooltip="Выбор торгового объекта">
                        <mat-label>Магазин</mat-label>
                        <mat-select formControlName="shop">
                            <mat-option [value]="-1">Все</mat-option>
                            <mat-option *ngFor="let shop of shops" [value]="shop.id">
                                {{shop.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <button mdbBtn id="form-btn" type="button" class="heavy-rain-gradient" size="sm" 
                        data-placement="bottom" matTooltip="Отобрать все заказы"
                        (click)="onTakeAll()">
                        Отобрать все
                    </button>          

                </div>
                <div>
                    <mat-form-field appearance="outline" data-placement="bottom" matTooltip="Выбор отдела">
                        <mat-label>Отдел</mat-label>
                        <mat-select formControlName="department">
                            <mat-option [value]="-1">Все</mat-option>
                            <mat-option *ngFor="let dep of departments" [value]="dep.id">
                                {{dep.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field id="long" appearance="outline" data-placement="bottom" matTooltip="Выберите диапозон дат">
                        <mat-label>Выберите диапозон дат</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate formControlName="start" placeholder="Начальная дата">
                        <input matEndDate formControlName="end" placeholder="Конечная дата">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    
                        <mat-error *ngIf="filterForm.controls.start.hasError('matStartDateInvalid')">Ошибка начальной даты</mat-error>
                        <mat-error *ngIf="filterForm.controls.end.hasError('matEndDateInvalid')">Ошибка конечной даты</mat-error>
                    </mat-form-field>

                    <button mdbBtn id="form-btn" type="submit" class="heavy-rain-gradient" size="sm" 
                        data-placement="bottom" matTooltip="Отобрать заказы по фильтру"
                        [disabled]="filterForm.invalid">
                        Отобрать по фильтру
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<app-orders-list-form
    [orders]="orders" 
    [departments]="departments" 
    [statuses]="statuses" 
    [shops]="shops"
    (selectOrderEvent)="selectOrder($event)"
    (openOrderEvent)="openOrder($event)">
</app-orders-list-form>