div > * {
    margin-left: .5rem;
}
.row, .col-2 {
    margin: 0;
}
form {
    margin: 0;
    padding: 0;
} 

.mat-form-field {
    width: calc(7.5rem + 5vw); 
}
mat-form-field#long {
    width: calc(15rem + 5vw); 
}
.btn.btn-sm {
    width: calc(7.5rem + 5vw); 
    flex-grow: 1;
}
.btn#form-btn {
    margin: 0 0 0 .5rem;
    position: relative;
    top: -6px;
}