// .content > div {
//     display: inline-block;
// }
div > * {
    margin-left: .5rem;
}
.row, .col-2 {
    margin: 0;
}
form {
    margin: 0;
    padding: 0;
} 
:host ::ng-deep .mat-form-field-flex > .mat-form-field-infix { 
    padding: 0.4em 0px !important;
}
:host ::ng-deep .mat-form-field-label-wrapper { 
    top: -1.3em; 
}
:host ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}
:host ::ng-deep .mat-form-field-wrapper {
    padding: 0;
}
.mat-form-field {
    width: calc(7.5rem + 5vw); 
}
mat-form-field#long {
    width: calc(15rem + 5vw); 
}
.btn.btn-sm {
    width: calc(7.5rem + 5vw); 
    font-size: 0.8rem;
    padding: .3rem .5rem;
    flex-grow: 1;
}
.btn#form-btn {
    margin: 0 0 0 .5rem;
    position: relative;
    top: -6px;
}