.table-container {
    height: 547px;
    overflow: auto;
}
table {
    width: 100%;

}
tr.mat-header-row {
    height: 32px;
}
tr.mat-row, tr.mat-footer-row {
    height: 30px;
}
.select-row {
    background: rgba(137, 43, 226, 0.5);
}