.form-inline > button, mat-checkbox {
    margin: 0.4rem;
}
@media (max-width: 1920px) { /* это будет показано при разрешении монитора до 1920 пикселей */

    .table-container {
        height: 250px;
        overflow: auto;
    }  
} 
@media (max-width: 1400px) { /* это будет показано при разрешении монитора до 1366 пикселей */
    .table-container {
        height: 150px;
        overflow: auto;
    }  
}
table {
    width: 100%;
}
tr.mat-header-row {
    height: 32px;
}
tr.mat-row, tr.mat-footer-row {
    height: 30px;
}
.select-row {
    background: rgba(194, 121, 121, 0.5);
}