<div class="navbar">
  <div class="navbar-logo">
    <a class="navbar-brand" href="#">Info</a>
  </div>
  <div class="navbar-profile">
    <button mat-button [matMenuTriggerFor]="menu" class="menu-button">
      <mat-icon aria-hidden="false">
        person
      </mat-icon>
      Профиль
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="getDocumentacion()">Инструкция</button>
      <button mat-menu-item (click)="openSelectShop()">Настройки</button>
      <button mat-menu-item *ngIf="isAdmin === '1'" (click)="openPriceSettingsDialog()">Настройка ценников</button>
      <button mat-menu-item *ngIf="isAdmin === '1'" (click)="openLoadAction()">Загрузка акций</button>
      <button mat-menu-item (click)="onClickLogout()">Выйти</button>
    </mat-menu>
  </div>
</div>