<div class="header" *ngIf="showLoadingBar === false">
    <h2>Загрузка акционного файла</h2>
    <mat-slide-toggle [(ngModel)]="showParams">Дополнительные параметры</mat-slide-toggle>
</div>
<mat-dialog-content class="mat-typography">
    <div class="dialog-conteiner" *ngIf="showLoadingBar === false">
        <div class="print-conteiner">
            <div class="input__wrapper">
                <input name="file" type="file" name="file" id="input__file" class="input input__file"
                    (change)="selectFile($event)"
                    accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel, .dat">
                <label for="input__file" class="input__file-button">
                    <span class="input__file-icon-wrapper">
                        <span class="material-icons">
                            file_download
                        </span>
                    </span>
                    <span class="input__file-button-text">{{selectedFileName}}</span>
                </label>
            </div>
            <div class="print-conteiner-box">
                <div class="pic-box">
                    <img src="../../../../assets/1200px-microsoft_excel_2013_logo.svg_.png" alt="">
                </div>
                <button mat-stroked-button matTooltip="Загрузка акционного Excel файла для Mile"
                    (click)="upload(type='mile')">Загрузить</button>
            </div>
            <div class="print-conteiner-box">
                <div class="pic-box">
                    <img src="../../../../assets/dat.png" alt="" class="dat">
                </div>
                <button mat-stroked-button class="dat" matTooltip="Загрузка акционного DAT файла"
                    (click)="upload(type='dat')">Загрузить</button>
            </div>
            <div class="print-conteiner-box">
                <div class="pic-box">
                    <img src="../../../../assets/pr4.png" alt="" class="dat">
                </div>
                <button mat-stroked-button class="dat" matTooltip="Загрузка Акта переоценки файла"
                    (click)="upload(type='act')">Загрузить</button>
            </div>
        </div>
        <div class="parametrs" *ngIf="showParams">
            <mat-form-field appearance="outline">
                <mat-label>Дата проведения акции</mat-label>
                <input matInput [(ngModel)]="actionDate">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Отоброжаемый процент</mat-label>
                <input matInput [(ngModel)]="maxPercent">
            </mat-form-field>
        </div>
    </div>
    <div class="price-from-file-box">
        <mat-checkbox class="example-margin" [(ngModel)]="priceFromFile" *ngIf="showLoadingBar === false">Взять цену из
            файла</mat-checkbox>
    </div>
    <div class="loader" *ngIf="showLoadingBar === true">
        <div class="box">
            <span data-text="LOADING...">LOADING...</span>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end" *ngIf="showLoadingBar === false">
    <button mat-button cdkFocusInitial [mat-dialog-close]="null">Закрыть</button>
</mat-dialog-actions>