.dialog-conteiner{
    display: flex;

}
.print-conteiner {
    width: 100%;
    height: 100%;
    margin-top: 20px;
}
.print-conteiner-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    button{
        width: 100px;
        height: 50px;
    }
}

.pic-box {
    margin-right: 50px;
    min-width: 160px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width:160px;
        height: 100px;
        &.dat{
            width:100px;
        }
    }
}
.upload-box {
    display: flex;
    margin: 0 20px;
    margin-top: -60px!important;
}
.progress {
    width: 50px;
}
.mat-input-element {
    font-size: medium;
    font-weight: 200;
}
#fileInput {
    position: absolute;
    cursor: pointer;
    z-index: 100;
    opacity: 0;
    height: 100%;
    left: 0px;
    top: 0px;
    width: 409px;
}
.mat-toolbar-single-row {
    height: auto !important;
    background: transparent;
    padding: 0;
}
.mat-toolbar-single-row button {
    width: 100px;
}
.mat-form-field {
    width: 100%;
    margin-top: 20px;
}

.header{
    display: flex;
    h2{
        margin-right: 20px;
    }
}
.filter-conteiner{
    display: flex;
}
// .price-format{
//     width: ;
// }

.filter-box{
    border: 1px solid;
    border-radius: 30px;
    padding: 10px 20px;
    span{
        font-size: 1.25em;
    }
    &:first-child{
        margin-right: 10px;
    }
}
.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  .price-from-file-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 1.5em;
  }


  .loader-conteiner {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    margin-bottom: 20px;
}
.loader {
    position: relative;
    display: flex;
}
.loader span {
    position: relative;
    width: 50px;
    height: 50px;
    background: #eaeef0;
    margin: 0 10px;
    border-radius: 50%;
    border: 6px solid #eaeef0;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 1), 8px 8px 15px rgba(0, 0, 0, 0.2),
        inset 3px 3px 5px rgba(0, 0, 0, 0.1), inset -1px -1px 5px rgba(255, 255, 255, 1);
}
.loader span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #5c89ff;
    border-radius: 50%;
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.1), inset -1px -1px 5px rgba(255, 255, 255, 1);
    transform: scale(0);
    animation: neuanim 3.5s linear infinite, neuanimcolor 5s linear infinite;
    animation-delay: calc(var(--i) * 0.2s);
}
@keyframes neuanim {
    0%,
    9.99%,
    70.0001% {
        transform: scale(0);
    }
    10%,
    70% {
        transform: scale(1);
    }
}
@keyframes neuanimcolor {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}