<div class="card-contant">
    <div class="row">
        <div class="col-4">
            <mat-form-field id="form-prop" appearance="outline">
                <mat-label>Артикул</mat-label>
                <input matInput placeholder="Артикул" [(ngModel)]="data.article" readonly>
            </mat-form-field>
        </div>

        <div class="col-4">
            <mat-form-field id="form-prop" appearance="outline">
                <mat-label>Тип</mat-label>
                <input matInput placeholder="Тип" [(ngModel)]="data.type" readonly>
            </mat-form-field>
        </div>

        <div class="col-4">
            <mat-form-field id="form-prop" appearance="outline">
                <mat-label>Страна</mat-label>
                <input matInput placeholder="Страна" [(ngModel)]="data.country" readonly>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <mat-form-field id="form-name" appearance="outline">
                <mat-label>Наименование</mat-label>
                <input matInput placeholder="Наименование" [(ngModel)]="data.name" readonly>
            </mat-form-field>
        </div>

        <div class="col-2">
            <mat-form-field id="form-prop" appearance="outline">
                <mat-label>Ед. измерения</mat-label>
                <input matInput placeholder="Ед. измерения" [(ngModel)]="data.mesabbrev" readonly>
            </mat-form-field>
        </div>

        <div class="col-2">
            <mat-form-field id="form-prop" appearance="outline">
                <mat-label>Группа</mat-label>
                <input matInput placeholder="Группа" [(ngModel)]="data.group" readonly>
            </mat-form-field>
        </div>
    </div>     
    <div class="row">
        <div class="col-4">
            <div class="list-prop">
                <table mat-table [dataSource]="productPropAnswer.places | split:splitElement" class="table-hover">

                    <ng-container matColumnDef="place">
                        <th mat-header-cell *matHeaderCellDef> Места хранения </th>
                        <td mat-cell *matCellDef="let element"> {{element}} </td>
                    </ng-container>   
                    
                    <ng-container matColumnDef="bt">
                        <th mat-header-cell *matHeaderCellDef> 
                            <ng-container *ngIf="productPropAnswer.places.length > 0">
                                <button mat-button (click)="openPlaceForm(productPropAnswer.places)"  matTooltip="Просмотр документа">
                                    <mat-icon id="push"> remove_red_eye </mat-icon>
                                </button>
                            </ng-container>
                        </th>
                        <td mat-cell *matCellDef="let element"> 
                        <button mat-button (click)="openStoragePlacesDialog(element)">
                            <mat-icon aria-hidden="false" aria-label="Example home icon"> edit </mat-icon>
                        </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsPlaces; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsPlaces;"></tr>

                </table>
            </div>
        </div>
        <div class="col-4">
            <div class="list-prop">
                <table mat-table [dataSource]="productPropAnswer.delivers | split:splitElement" class="table-hover">

                    <ng-container matColumnDef="delivers">
                        <th mat-header-cell *matHeaderCellDef> Поставщики </th>
                        <td mat-cell *matCellDef="let element"> {{element}} </td>
                    </ng-container>      
            
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsDelivers; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsDelivers;"></tr>

                </table>
            </div>
        </div>   
        <div class="col-4">
            <div class="list-prop">
                <table mat-table [dataSource]="productPropAnswer.delivers | split:splitElement" class="table-hover">

                    <ng-container matColumnDef="delivers">
                        <th mat-header-cell *matHeaderCellDef> Штрихкод </th>
                        <td mat-cell *matCellDef="let element"> {{element}} </td>
                    </ng-container>      
            
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsDelivers; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsDelivers;"></tr>

                </table>
            </div>
        </div>   
    </div>
</div>