.card-p {
    display: flex;
}
.card-info {
    flex-grow: 1;
    display: block;
}
.card-info-flex {
    display: flex;
}
mat-form-field {
    width: 100%;
    margin: .2rem .5rem;
}
table {
    width: 100%;
}
.list-prop {
    height: 30vh;
    display: flex;
    flex-grow: 1;
    overflow: auto;
    border: 1px solid rgba(128, 128, 128, 0.4);
    border-radius: 5px;
    margin: .2rem .5rem;
}
tr.mat-header-row  {
    height: 32px !important;
    background-color: rgb(230, 230, 230);
}
tr.mat-row, tr.mat-footer-row {
    height: 30px;
}
.mat-column-place {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 90% !important;
    width: 90% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.mat-column-bt {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.mat-column-delivers {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 100% !important;
    width: 100% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}