.prod {
    height: calc(70vh - 200px);
}
.mat-drawer-container {
    height: calc(100vh - 46px);
    overflow: auto;
}
tr.mat-header-row  {
    height: 32px !important;
    background-color: rgb(230, 230, 230);
}
tr.mat-row, tr.mat-footer-row {
    height: 30px;
}
mat-drawer {
    padding: 5px;
    width: 25%;
}
.mat-tree-node {
    min-height: 2em;
}
.tree-group {
    flex-direction: column;
    overflow: auto;
}
mat-tree {
    cursor: pointer;
    background-color: transparent;
    height: calc(100vh - 100px);
}
mat-tree-node button {
    border: none;
    outline: none;
}
mat-tree-node:hover {
    background-color: rgba(185, 151, 218, 0.4);
}
mat-tree-node button:hover {
    cursor: pointer;
}
mat-tree-node mat-icon {
    position: relative;
    top: -0.8em;
    right: 0.1em;
    height: 18px;
    width: 18px;
}
mat-tree-node button {
    height: 18px;
    width: 18px;
}
mat-tree-node label {
    position: relative;
    top: -0.8em;
}
mat-tree-node label:hover  {
    cursor: pointer;
}
::ng-deep .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: rgba(185, 151, 218, 0.4);
    cursor: pointer;
}
:host ::ng-deep .mat-form-field-flex > .mat-form-field-infix { 
    padding: 0.4em 0px !important;
}
:host ::ng-deep .mat-form-field-label-wrapper { 
    top: -1.3em; 
}
:host ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}
:host ::ng-deep .mat-form-field-wrapper {
    padding: 0;
}
.select-row {
    background-image: linear-gradient(to right, rgba(161, 106, 216, 0.5), rgba(240, 10, 228, 0.5));
}
mat-form-field {
    width: 100%;
}
.mat-stroked-button {
    flex-grow: 1;
}
.mat-button-toggle-checked {
    color: black;
    background-color: rgba(137, 43, 226, 0.5);
}
.mat-button-toggle {
    width: 10vw;
    min-width: 5rem;
}
.aligner-vertical-center {
    display: flex;
    align-items: flex-start;
    align-self: center;
}
:host ::ng-deep .mat-checkbox-layout .mat-checkbox-label {
    line-height: 21px;
}
.bt-font-size mat-button-toggle {
    font-size: calc(6px + .6vw);
}
mat-button-toggle-group {
    height: 32px;
}
.table-container {
    width: 100%;
    overflow: auto;
}
table {
    width: 100%;
}
.mat-column-article {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
   
    word-break: break-word;
   
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}   
.mat-column-name {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 36% !important;
    width: 36% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
   
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}  
.mat-column-status {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}   
.mat-column-barcode {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 20% !important;
    width: 20% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}   
.mat-column-balancestore {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 7% !important;
    width: 7% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
} 
.mat-column-balancedefect {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 7% !important;
    width: 7% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.mat-column-action {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.mat-card-borderr-bottom {
    border-bottom-color: rgba(128, 128, 128, 0.4); 
    border-bottom-style: double; 
    border-bottom-width: 0.08em;
    border-radius: 0%;
}
mat-icon#push {
    padding: 0;
    cursor: pointer;
    font-size: 22px;
}
mat-icon#push:hover {
    font-size: 23px;
    color: blueviolet;
}
:host ::ng-deep .mat-tab-label {
    height: 32px !important;
}
:host ::ng-deep .mat-tab-header {
    height: 32px;
    border-top: 1px solid rgb(168, 168, 168);
}
:host ::ng-deep .mat-tab-label:hover {
    color: blueviolet;
}
.mat-card-margin {
    padding-top: 0%;
}
:host ::ng-deep .mat-tab-label {
    width: 75px;
}
:host ::ng-deep .mat-tab-label, .mat-tab-link {
    font-size: 12px !important;
}
::-webkit-scrollbar-track {
    background-color: #F5F5F5;
    border-radius: 6px;
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
	background-color: #0ae;
	border-radius: 6px;
}
.mat-divider {
    border-top-width: 4px;
}