@import '../../common/css/scrollbar';
@import '../../common/css/mat-form-field-outline';
.prod {
    height: calc(69vh - 200px);
}
.mat-drawer-container {
    height: calc(100vh - 46px);
    overflow: auto;
}
tr.mat-header-row  {
    height: 32px !important;
    background-color: rgb(230, 230, 230);
}
tr.mat-row, tr.mat-footer-row {
    height: 30px;
}
mat-drawer {
    padding: 5px;
    width: 25%;
}
.mat-tree-node {
    min-height: 2em;
}
.tree-group {
    flex-direction: column;
    overflow: auto;
}
mat-tree {
    cursor: pointer;
    background-color: transparent;
    height: calc(100vh - 100px);
}
// mat-tree-node button {
//     border: none;
//     outline: none;
// }
mat-tree-node:hover {
    background-color: rgba(185, 151, 218, 0.4);
}
mat-tree-node button:hover {
    cursor: pointer;
}
mat-tree-node {
    button {
        height: 18px;
        width: 18px;
    }
    mat-icon {
        position: relative;
        top: -0.8em;
        right: 0.1em;
        height: 18px;
        width: 18px;
    }
    label {
        position: relative;
        top: -0.8em;
    }
}
mat-tree-node label:hover  {
    cursor: pointer;
}
::ng-deep .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: rgba(185, 151, 218, 0.4);
    cursor: pointer;
}
.select-row {
    background-image: linear-gradient(to right, rgba(161, 106, 216, 0.5), rgba(240, 10, 228, 0.5));
}
mat-drawer-content{

    display: flex;
    .drawer-control{
        height: 100%;
        width: 26px;
        border: 1px solid rgba(128, 128, 128, 0.25);
        button{
            width: 100%;
            height: 100%;
            background: none;
            color: inherit;
            border: none;
            padding: 0;
            font: inherit;
            cursor: pointer;
            outline: inherit;
        }
    }
}
.mat-stroked-button {
    flex-grow: 1;
}
.mat-button-toggle-checked {
    color: black;
    background-color: rgba(137, 43, 226, 0.5);
}
.mat-button-toggle {
    width: 10vw;
    min-width: 5rem;
}
.aligner-vertical-center {
    display: flex;
    align-items: flex-start;
    align-self: center;
}
:host ::ng-deep .mat-checkbox-layout .mat-checkbox-label {
    line-height: 21px;
}
.bt-font-size mat-button-toggle {
    font-size: calc(6px + .6vw);
}
mat-button-toggle-group {
    height: 32px;
}
.table-container {
    width: 100%;
    overflow: auto;
    position: relative;
}
table {
    width: 100%;
}
.mat-column-article {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
   
    word-break: break-word;
   
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}   
.mat-column-name {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 40% !important;
    width: 40% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
   
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}  
.mat-column-type {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.mat-column-goods {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
} 
.mat-column-price {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.mat-column-stock_price {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
} 
.mat-column-action {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.mat-card-borderr-bottom {
    border-bottom-color: rgba(128, 128, 128, 0.4); 
    border-bottom-style: double; 
    border-bottom-width: 0.08em;
    border-radius: 0%;
}
:host ::ng-deep .mat-tab-label {
    height: 32px !important;
}
:host ::ng-deep .mat-tab-header {
    height: 32px;
    border-top: 1px solid rgb(168, 168, 168);
}
:host ::ng-deep .mat-tab-label:hover {
    color: blueviolet;
}
.mat-card-margin {
    padding-top: 0%;
}
:host ::ng-deep .mat-tab-label {
    width: 75px;
}
:host ::ng-deep .mat-tab-label, .mat-tab-link {
    font-size: 12px !important;
}
.mat-divider {
    border-top-width: 4px;
}
.mat-icon-button#push {
    width: 28px !important;
    height: 28px !important;
    line-height: 28px !important;

    mat-icon {
        padding: 0;
        cursor: pointer;
        font-size: 22px;
    }
} 
.mat-icon-button#push:hover {
    background-color: rgba(128, 128, 128, 0.25);

    mat-icon {
        font-size: 23px;
        color: blueviolet;
        opacity: .75;
    }
}
.slide {
    background-color: rgba(128, 128, 128, 0.1);
    border: 1px solid rgba(128, 128, 128, 0.25);
	border-radius: 12px;
    padding: 4px;
    width: 235px;
    margin-top: 5px;
}

.loader-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
}
.loader {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(45deg, transparent, transparent 40%, #3251AB);
    animation: an 2s linear infinite;
}
@keyframes an {
    0% {
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
}
.loader::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: #fff;
    border-radius: 50%;
    z-index: 1000;
}
.loader::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(45deg, transparent, transparent 40%, #3251AB);
    border-radius: 50%;
    z-index: 1000;
    z-index: 1;
    filter: blur(30px);
}
mat-tab-group{
    width: 100%;
}
.content-conteiner{
    width: 100%;
}
.serach-conteiner{
    width: 100%;
    display: flex;

    .search-form{
        margin-left: 10px;
        width: 25%;
        height: 82px;
        margin-bottom: 5px;
        
        .search-form-box{
            width: 100%;
            button{
                width: calc((100% / 2) - 4px);
            }
        }
        .search-form-box-setting{
            margin-top: 5px;
        }
    }
}
@media screen and (max-width: 1000px) {
    mat-drawer {
        width: 94%;
    }
    .table-fix-style{
        padding-left: 0!important;
        font-size: 13px!important;
    }
    .search-form{
        width: 50%!important;
    }
    .search-form-box-setting{
        margin-top: 0!important;
        mat-form-field{
            width: 85%;
        }
    }
    .slide{
        width: 175px;
    }
    .short{
        width: 40%!important;
    }
}