<div class="table-container">
    <table class="table-hover" mat-table [dataSource]="dataSource">
  
        <ng-container matColumnDef="characteristic">
            <th mat-header-cell *matHeaderCellDef> Характеристика </th>
            <td mat-cell *matCellDef="let element"> {{element.characteristic}} </td>
        </ng-container>

        <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef> Значение </th>
            <td mat-cell *matCellDef="let element"> {{element.value}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>