// @media (max-width: 1920px) {

//     .table-container {
//         height: 250px;
//         overflow: auto;
//     }  
// } 
// @media (max-width: 1400px) { 
//     .table-container {
//         height: 150px;
//         overflow: auto;
//     }  
// }
.table-container {
    height: 547px;
    overflow: auto;
}
table {
    width: 100%;
}
tr.mat-header-row {
    height: 32px;
}
tr.mat-row, tr.mat-footer-row {
    height: 30px;
}