<app-order-filter-form [hidden]="isOrderOpen"
    [statuses]="listOrderStatus"
    [departments]="listDepartment"
    [shops]="listShop"
    [orderChanged]="orderChanged"
    (openOrderEvent)="openOrder($event)">
</app-order-filter-form>

<app-order-form *ngIf="isOrderOpen" 
    [order]="order"
    [statuses]="listOrderStatus"
    [productToAdd]="productToAdd"
    (closeOrderEvent)="closeOrder($event)"
    (orderSaveEvent)="orderSave($event)"
    (clearProductEvent)="clearProduct($event)">
</app-order-form>