.card-item {
    margin: 5px;
    width: 96%;
    padding-left: 20px;
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 15px;
}
.card-item-img {
    width: 60px;
    height: 60px;
}
.foot {
    margin-left: auto;
    margin-right: 20px;
}
.bt-card-item {
    position: relative;
    top: -10px;
}
.card-summ {
    margin: 10px;
}
.card-item-name {
    margin-right: 10px;
    color: rgba(90, 106, 252);
}