<div class="content" *ngIf="isOpen">
    <div class="price-menu" [hidden]="screenWidth < 1000">
        <div class="foot">
            <button mat-stroked-button data-placement="bottom" matTooltip="Загрузка акционного файла"
                (click)="openPrintDialog()">
                Акции
            </button>
            <button mat-stroked-button data-placement="bottom" matTooltip="Печать ценников" (click)="onPrintLable()"
                [disabled]="!listPrices || !styleFileName">
                <span class="material-icons">
                    print
                </span>
                Печать
            </button>
            <mat-form-field appearance="outline">
                <mat-label>Размер</mat-label>
                <mat-select class="selecter" [(value)]="idFormat" (selectionChange)="getPriceStyleList()">
                    <mat-option *ngFor="let size of priceFormat" [value]="size.id">{{size.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Тип</mat-label>
                <mat-select [(value)]="styleFileName">
                    <mat-option *ngFor="let style of priceStyle" [value]="style.name_file"> {{style.name_style}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <!-- <div class="slide ml-2">
                <mat-slide-toggle [(ngModel)]="switchEditablePrices">
                    <span *ngIf="switchEditablePrices===false">Редактируемые ценники
                    </span>
                    <span *ngIf="switchEditablePrices===true">
                        {{styleFileName||'Редактируемые ценники'}}
                    </span>
                </mat-slide-toggle>
            </div> -->
            <button mat-mini-fab color='none' data-placement="bottom" matTooltip="Очистить список ценников"
                (click)="onClearList()">
                <span class="material-icons">
                    delete
                </span>
            </button>
        </div>
    </div>
    <ng-container *ngIf="listPrices">
        <div class="card-item-list">
            <div class="card-item" *ngFor="let price of listPrices">
                <div class="row align-items-center">
                    <div class="col-1">
                        <img class="card-item-img" *ngIf="price.img" src="{{price.img | urlImg}}">
                        <img width="40px" height="40px" *ngIf="!price.img" src="../../../../../assets/no_photo.png">
                    </div>
                    <div class="col-2">Артикул: {{price.article}}</div>
                    <div class="col-8">
                        <div class="row card-item-name">{{price.name}}</div>
                        <div class="row"> Цена / {{price.mesname}} : {{price.price}}</div>
                    </div>
                    <div class="col-1 mx-auto">
                        <button mat-icon-button>
                            <mat-icon matTooltip="Удалить позицию" (click)="onDeleteItem(price)">delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>