<div class="card-item-list">
    <ng-container *ngIf="listPrices">
        <div class="card-item" *ngFor="let price of listPrices">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <img class="card-item-img" *ngIf="price.img" src="{{price.img | urlImg}}">
                        <img width="40px" height="40px" *ngIf="!price.img" src="../../../../../assets/no_photo.png">
                    </div>
                    <div class="row">Артикул: {{price.article}}</div>

                </div>
                <div class="col">
                    <div class="row card-item-name">{{price.name}}</div>
                    <div class="row">  Цена / {{price.mesname}} : {{price.price}}</div>
                    <div class="row">
                        <div class="foot">
                            <button
                                class="bt-card-item"
                                mat-icon-button>
                                <mat-icon matTooltip="Удалить позицию" (click)="onDeleteItem(price)">delete</mat-icon>
                            </button>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>
<mat-divider></mat-divider>
<div class="form-inline">
    <div class="foot">
        <button mat-stroked-button (click)="onPrintLable()">Печать</button>
        <button mat-stroked-button class="m-1" (click)="onClearList()">Очистить</button>
    </div>
</div>