@media (max-width: 720px) and (min-width: 640px) {
    .login-content {
        width: 95%;
        margin: 0 auto;
        padding: 1em;
    }
}
@media (max-width: 1080px) and (min-width: 720px) {
    .login-content {
        width: 65%;
        margin: 0 auto;
        padding: 1em;
    }
}
@media (max-width: 1440px) and (min-width: 1080px) {
    .login-content {
        width: 50%;
        margin: 0 auto;
        padding: 1em;
    }
}
@media (min-width: 1440px) {
    .login-content {
        width: 35%;
        margin: 0 auto;
        padding: 1em;
    }
}
.bt-signin {
    width: 40%;
}