/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
// button:active {
//     outline: none;
//     border: none;
// }  
button:focus {
    outline:0;
}
.red-snackbar {
    background: #F44336;

    position: relative;
    top: 2.2rem;
}
.green-snackbar {
    background: #28a532;

    position: relative;
    top: 2.2rem;
}
.standart-snackbar {
    background: rgb(126, 126, 206);

    position: relative;
    top: 2.2rem;
}


.mat-form-field-underline{
    bottom: 0!important;
    padding: 0!important;
    margin: 0!important;
}
