@font-face {
    font-family: 'metapro-bold';
    src: url(../../../../assets/fonts/METAPRO-BOLD.OTF);
}
.card-data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card {
    text-align: center;
    vertical-align: middle;
}