<div class="card">
    <mat-tab-group  *ngIf="productPropAnswer.article.length > 0">

        <mat-tab label="Карточка"> 
            <app-card [data]="productPropAnswer"></app-card>  
        </mat-tab>

        <mat-tab label="Доп. характер."> 
            <app-extra-characteristic [data]="productPropAnswer.addon"></app-extra-characteristic>
        </mat-tab>

        <mat-tab label="Остатки"> 
            <app-leavings [data]="productPropAnswer.goods"></app-leavings>
        </mat-tab>

    </mat-tab-group>
</div>

<div mat-dialog-actions align="end">
    <button mat-stroked-button (click)="onNoClick()">Закрыть</button>
</div>